.drag-n-drop {
  padding: 0.5rem;
  display: grid;
  gap: 0.5rem;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(auto-fill, 300px);
  align-items: start;
}

.dnd-group {
  background-color: #49505e;
  border-radius: 5px;
  padding: 0.5rem;
}
.group-title {
  text-align: left;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
}
.dnd-item {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 150px;
  border-radius: 5px;
  background-color: white;
  color: #282c34;
}
.current {
  background-color: #282c34;
}
.dnd-item:not(:last-of-type) {
  margin-bottom: 0.5rem;
}
.dnd-item * {
  margin: 0;
}
