:root {
  --primary-color: rgb(105, 65, 168);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
/* global variables */
label {
  margin-bottom: 0.25rem;
  display: block;
}
input {
  display: block;
  display: grid;
  width: 100%;
  padding: 0.45rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
}

.width-50 {
  width: 50%;
}
.ml-auto {
  margin-left: auto;
}
h1 {
  text-align: center;
}

/* progress bar */
.progressbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  counter-reset: step;
  margin: 2rem 0 4rem;
}
.progressbar::before,
.progress {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 2px;
  width: 100%;
  background-color: yellow;
}
.progress {
  background-color: var(--primary-color);
  width: 0%;
}

.progress-step {
  width: 2.1875rem;
  height: 2.1875rem;
  background-color: red;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.progress-step::before {
  counter-increment: step;
  content: counter(step);
}
.progress-step::after {
  content: attr(data-title);
  position: absolute;
  top: calc(100% + 0.5rem);
  font-size: 0.85rem;
  color: #333;
}

.progress-step-active {
  background-color: var(--primary-color);
  color: #f3f3f3;
}

/* form body  */
.form {
  width: clamp(320px, 30%, 430px);
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 0.35rem;
  padding: 1.5rem;
}
.form-step {
  display: none;
}
.form-step-active {
  display: block;
}

.input-group {
  margin: 1.2rem 0;
}
/* button classs */
.btn {
  padding: 0.45rem;
  display: block;
  text-decoration: none;
  background-color: var(--primary-color);
  color: white;
  text-align: center;
  border-radius: 0.25rem;
  cursor: pointer;
}

.btn:hover {
  box-shadow: 0 0 0 2px #fff, 0 0 0 3px var(--primary-color);
  transition: 0.3s;
}

.btn-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.2rem;
}
